.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;
  background-color: black;
  background-size: cover;
  background-position: center;
}
