.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  background: #222;
  box-shadow: 0 .25rem 0 rgba(0, 0, 0, .5);
  z-index: 1;

  a {
    color: white;
  }
}

.logo {
  font-size: 2rem;
  line-height: 1;
}

.modes {
  display: flex;

  a {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.25rem;
    font-family: 'Avengeance';
    border-radius: 3px;
    text-decoration: none;
    transition: border-color .3s ease;
  }

  a + a {
    margin-left: 1rem;
  }
}

.icon {
  margin-right: .5rem;
}

.play {
  border: 3px solid #4CAF50;
  color: white;

  &:hover {
    border-color: #A5D6A7;
  }
}

.edit {
  border: 3px solid #FBC02D;

  &:hover {
    border-color: #FFEE58;
  }
}
