.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  background: #222;
  box-shadow: 0 .25rem 0 rgba(0, 0, 0, .5);
  z-index: 1;

  a {
    color: white;
  }
}

.logo {
  font-size: 2rem;
  line-height: 1;
}

.modes {
  a {
    padding: .5rem .5rem;
    background: black;
    border-radius: 3px;
  }

  a + a {
    margin-left: 1rem;
  }
}
